<body>
    <head>
        
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PROYECTO 1</a>
        
  
    
    </nav>  
    <table class="table bg-dark">
        <tr>
            <td>
                
                
                <div class="jumbotron bg-secondary">
                    <ngx-codemirror
                    [(ngModel)]="defaults[mode]"
                    [options]="{
                    lineNumbers: true,
                    theme: '3024-night',
                    mode: 'javascript'
                    }"
                    (ngModelChange)="ObtenerValor($event)"
                   ></ngx-codemirror>
                    
                    
                    <button type="button" class="btn btn-info font-weight-bold p-3 mb-1 text-dark" id="Traducir"style="margin: 10px" (click)="escribirValor()">Traducir</button>
                    <button type="button" class="btn btn-info font-weight-bold p-3 mb-1 text-dark" id="Ejecutar"style="margin: 10px">Ejecutar</button>
                    
                </div>
                <div class="jumbotron bg-secondary">
                    <ngx-codemirror
                    [(ngModel)]="pasar"
                    [options]="{
                    lineNumbers: true,
                    theme: '3024-night',
                    mode: 'javascript'
                    }"
                    (ngModelChange)="ObtenerValor($event)"
                   ></ngx-codemirror>
                </div>
                
                  
            </td>
  
  
  
            
           
        </tr>
  
  
    </table>
    
  
  </body>